body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

.container {
    display: flex;
    flex: auto;
}

ul {
    display: flex;
}

.container .onetext {
    display: flex;
    flex-direction: column;
}

.one {
    display: flex;
}

.container .onepicture {
    display: flex;
}

.two {
    flex-direction: column;
    align-items: center;
}


.images {
    display: flex;
    flex-direction: row;
}

footer {
    
}