body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
}

.container {
    display: flex;
}

ul {
    display: flex;
}

.container .onetext {
    flex-direction: column;
}

.two {
    flex-direction: column;
}

.images {
    display: flex;
    flex-direction: row;
}